[源配置]

备份当前的源列表，以便日後需要时恢复
sudo mv /etc/apt/sources.list /etc/apt/sources.list.backup

sudo vim /etc/apt/sources.list
deb http://mirrors.163.com/ubuntu/ xenial main restricted universe multiverse
deb http://mirrors.163.com/ubuntu/ xenial-security main restricted universe multiverse
deb http://mirrors.163.com/ubuntu/ xenial-updates main restricted universe multiverse
deb http://mirrors.163.com/ubuntu/ xenial-backports main restricted universe multiverse
源码
deb-src http://mirrors.163.com/ubuntu/ xenial main restricted universe multiverse
deb-src http://mirrors.163.com/ubuntu/ xenial-security main restricted universe multiverse
deb-src http://mirrors.163.com/ubuntu/ xenial-updates main restricted universe multiverse
deb-src http://mirrors.163.com/ubuntu/ xenial-backports main restricted universe multiverse
Canonical 合作伙伴和附加
deb http://archive.canonical.com/ubuntu/ xenial partner
deb http://extras.ubuntu.com/ubuntu/ xenial main

这一步是更新你的源列表，换源後必须执行
sudo apt-get update
这一步是更新软件
sudo apt-get dist-upgrade
修复安装
sudo apt-get -f install

[config dns]
sudo su
echo "nameserver *.*.*.*" > /etc/resolvconf/resolv.conf.d/base
echo "nameserver *.*.*.*" > /etc/resolv.conf

[当前用户代理]
su bush
vim ~/.bashrc
export ftp_proxy=http://*.*.*.*:8080
export http_proxy=http://*.*.*.*:8080
export https_proxy=http://*.*.*.*:8080
export all_proxy=http://*.*.*.*:8080
export no_proxy=localhost,127.0.0.1

[root用户代理]
sudo su -
vim ~/.bashrc同当前用户

[apt代理]
cat << EOF > /etc/apt/apt.conf
Acquire::http::Proxy "http://*.*.*.*:8080";
Acquire::http::Proxy::*.*.*.* "DIRECT";
Acquire::http::Proxy::ftp.*.com "DIRECT";
EOF

[may remove software]
sudo apt remove unity-webapps-common

[flash install]
Software Update->Other Software->Canonical Partners和Canonical Partners[Source Code]
重新Reload
sudo apt-get update
sudo apt-get upgrade
sudo apt-get install adobe-flashplugin

